<% include ../includes/head %>

        <div class="card">
            <div class="options">
                <form>
                    <div class="job option" id="job-options">
                        <div class="option-bar">
                            <p>Type of Work:</p>
                            <p class="value"></p>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <section class="collapsed">
                            <% Object.keys(options.jobs).forEach(function (key) { %>
                                <label>
                                    <input type="radio" name="job" value="<%=key%>">
                                    <i class="<%=options.jobs[key].icon%>"></i>
                                    <p>
                                        <%=options.jobs[key].name%>
                                    </p>
                                </label>
                              <% }); %>
                            
                            <label>
                                <input type="radio" name="job" value="randomjob">
                                <i class="fas fa-dice"></i>
                                <p>
                                    Random
                                </p>
                            </label>
                        </section>
                    </div>
                    <div class="industry option">
                        <div class="option-bar" id="industry-options">
                            <p>Industry:</p>
                            <p class="value"></p>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <section class="collapsed">
                            <% Object.keys(options.industries).forEach(function (key) { %>
                                <label>
                                    <input type="radio" name="industry" value="<%=key%>">
                                    <i class="<%=options.industries[key].icon%>"></i>
                                    <p>
                                        <%=options.industries[key].name%>
                                    </p>
                                </label>
                              <% }); %>
                            <label>
                                <input type="radio" name="industry" value="randomindustry">
                                <i class="fas fa-dice"></i>
                                <p>
                                    Random
                                </p>
                            </label>
                        </section>
                    </div>
                    <div class="brief">
                        <div class="skeleton">
                            <div class="skeleton-header"></div>
                            <div class="skeleton-p "></div>
                            <div class="skeleton-header"></div>
                            <div class="skeleton-p "></div>
                            <div class="skeleton-p "></div>
                            <div class="skeleton-p "></div>
                            <div class="skeleton-header"></div>
                            <div class="skeleton-p "></div>
                            <div class="skeleton-p "></div>
                            <div class="skeleton-p "></div>
                            <div class="skeleton-p "></div>
                            <div class="skeleton-header"></div>
                            </div>
                        <div class="content">
                            <span id="name-section">
                                <h3>Company Name: </h3>
                                <p id="brief-name"></p>
                            </span>
                            <h3>Company Description: </h3>
                            <p id="brief-desc"></p>
                            <h3>Job Description: </h3>
                            <p id="brief-job"></p>
                            <h3>Deadline: </h3>
                            <p id="brief-deadline"></p>
                        </div>
                    </div>
                    <input type="button" class="primary-btn" id="gen-btn" value="Generate" onclick="generateBrief()"></input>
                </form>
            </div>
        </div>

<% include ../includes/footer %>